extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

     
        h1 Rob L. Herron

        
        p.lead.text-light
          | Full Stack JavaScript Developer

     
        .portfolio-bio
          p(style= "text-align: left")
            | I help companies create full-stack solutions that are clean, scalable, and intuitive. Whether it's a simple static website or an innovative new app, I will work tirelessly to deploy the code you need. 

            | I'm committed to producing clean code, hitting my deadlines on time every time, open communication when working with a team, and being a lifelong learner. 

            | If you're interested in hiring me to be a part of your team, please reach out to me via email or phone.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6(style="padding-left: 20px; text-decoration: underline;") Skills

        ul

          li JavaScript
          li JSON
          li Object-Oriented Programming
          li WordPress Management
          li Client Support
          li Node.js
          li Fetch API
          li AJAX
          li Express
          li Pug
          li HTML
          li CSS

        h6(style="padding-left: 20px; text-decoration: underline;") Contact Info

        ul
          li 843-494-0632
          li rob@roblherron.com

        a.button.expanded(href='https://www.linkedin.com/in/rob-herron/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/roblherron', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/roblherron', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  