extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Rob L. Herron

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I help companies create full-stack solutions that are scalable, other keywords, and several other keywords.
            | I am a dude who you should definitely hire and here is a fun fact about me.accordion
            | and that fun fact relates to you hiring me in this way.
            | This is a call to action.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6(style="padding-left: 20px; text-decoration: underline;") Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Javascript
          li JSON
          li Object-Oriented Programming
          li WordPress Management
          li Client Support
          li Node.js
          li Fetch API
          li AJAX
          li Express
          li Pug

        h6(style="padding-left: 20px; text-decoration: underline;") Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/rob-herron/') LinkedIn
        a.button.expanded(href='https://github.com/rlherron100') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  