extends layout

block content
  div(style="text-align:center;").container
    h1= `500 - Server Error`
    p.not-found-p= `Oops!  It looks like something went wrong with the server. Please try again later.`

    a.home(href=`/`) ← Back