extends layout

block content
  div(style="text-align:center;").container
    br
    h1= `404 - Page Not Found`
    p.not-found-p= `Oops!  It looks like the page you're looking for does not exist.`

    a.home(href=`/`) 
        h2 Home